@{
    ViewBag.Title = "Home Page";
}

<div class="main">
    <div class="container">
        <div class="git-search-block">
            <h4>GitHub owner search</h4>
            <input type="text" name="queryText" id="queryText" placeholder="input your query" />
            <button class="btn">Search</button>
        </div>

        <div class="git-result-wrapper">
            <div class="git-result-block">
                <ul>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-------   To delete   -------->
@*<div class="main">
        <div class="container">
            <div class="git-search-block">
                <form action="/GutHub/GetDataByRequest">
                    <input type="text" name="queryText" id="queryText" placeholder="input your query" />
                    <submit class="btn">Search</submit>
                </form>
            </div>
        </div>
   </div>*@


